<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824786705191-0k91ibt8j8r8p0gcohvs9nhghiq4ckt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824786705191-0k91ibt8j8r8p0gcohvs9nhghiq4ckt6</string>
	<key>API_KEY</key>
	<string>AIzaSyCD6FvC-nuk74sIgdavng0ZP7CPhyLriII</string>
	<key>GCM_SENDER_ID</key>
	<string>824786705191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dvt.sinothando.Mooov</string>
	<key>PROJECT_ID</key>
	<string>mooov-9bebe</string>
	<key>STORAGE_BUCKET</key>
	<string>mooov-9bebe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824786705191:ios:5133d3afa31f29c7516702</string>
</dict>
</plist>